
/*general*/
html {
box-sizing: border-box; 
}

*, *::before, *::after {
box-sizing: inherit; 
}
/* ---Utility Classes--- */

.hidden {
    display: none;
}

.box {
    background-color: powderblue;
    color: rgb(27, 27, 27);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}

/*mobile*/
h1 {
    text-align: center;
    font-size: 45px;
    margin: 25px 0px;
}

/*tablet*/
@media screen and (min-width: 768px) {
    h1 {
        text-align: center;
        font-size: 65px;
        margin: 25px 0px;
    }
}

/*desktop*/

@media screen and (min-width: 1200px) {
    h1 {
        text-align: center;
        font-size: 75px;
        margin: 25px 0px;
    }
}

/*XL desktop*/
@media screen and (min-width: 1920px) {
    h1 {
        text-align: center;
        font-size: 75px;
        margin: 25px 0px;
    }

}