
/*general*/
html {
box-sizing: border-box; 
}

*, *::before, *::after {
box-sizing: inherit; 
}
/* ---Utility Classes--- */

.hidden {
    display: none;
}

/*mobile*/
h1 {
    text-align: center;
    font-size: 45px;
    margin: 25px 0 25px 15px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*tablet*/
@media screen and (min-width: 768px) {
    h1 {
        text-align: center;
        font-size: 65px;
        margin: 25px 0 25px 15px;
    }
}

/*desktop*/

@media screen and (min-width: 1200px) {
    h1 {
        text-align: center;
        font-size: 75px;
        margin: 25px 0 25px 15px;
    }
}

/*XL desktop*/
@media screen and (min-width: 1920px) {
    h1 {
        text-align: center;
        font-size: 75px;
        margin: 25px 0 25px 15px;
    }

}