
/*general styles*/

body {
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: white;
}

img, embed, object, video, picture {
    max-width: 100%;
}

p, h1, h2, h3, h4, h5 {
    margin: 0px;
    padding: 0px;
}

.dark-mode {
    background-color: black;
    color: white;
  }

.button {
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*end of general styles*/